<div class="pages">

    <h2>UI ELEMENTS</h2>
    <a routerLink="">Dashboard</a>
    <a  routerLink="components">Components</a>
    <a routerLink="forms">Forms</a>
    <a routerLink="templates">Templates</a>
</div>

<mat-divider></mat-divider>


<div class="pages">

    <h2>ICONS

    </h2>
    <a routerLink="icon"><mat-icon> menu</mat-icon>Icon</a>
    <a routerLink="widget"><mat-icon> drafts</mat-icon>Widget</a>
    <a routerLink="chart"><mat-icon>analytics</mat-icon>Chart</a>
    <a routerLink="maps"><mat-icon> maps</mat-icon>Maps</a>
</div>
<mat-divider></mat-divider>

<div class="pages">
    <h2>EXTRAS</h2>
    <a routerLink="pages"><mat-icon> pages </mat-icon>Pages</a>
</div>
