<mat-toolbar color="">
    <button (click)="menubtnClicked()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>elaAdmin</span>
    <span class="example-spacer"></span>

    <div class="flex-container">

        <ul>

            <!-- icon1 -->

            <li>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with search icon">
                    <mat-icon>search</mat-icon>
                </button>
            </li>
            <!-- icon2 -->

            <li>
                <button mat-icon-button class="example-icon"
                    aria-label="Example icon-button with notifications active icon">
                    <mat-icon>notifications active</mat-icon>
                </button>
            </li>
            <!-- icon3 -->

            <li>
                <button  mat-icon-button class="example-icon"
                    aria-label="Example icon-button with mail icon">
                    <mat-icon>mail</mat-icon>
                </button>

              
            </li>
        </ul>
    </div>
</mat-toolbar>