<!-- card -->
<div class="cards">

   <!-- card 1 -->
    <mat-card>
        <app-card
        bg="green"
        icon="shopping_cart"
        description="Revenue"
        count="$436789">
            
        </app-card>
</mat-card>

<!-- card 2 -->
<mat-card>
    <app-card
    bg="violet"
    icon="domain"
    description="Sales"
    count="2354">
</app-card>
</mat-card>


<!-- card 3 -->
<mat-card>
    <app-card
    bg="white"
    icon="dashboard"
    description="Templates"
    count="458">
</app-card>
</mat-card>

<!-- card 4-->
<mat-card>
    <app-card
    bg="orange"
        icon="group"
        description="Clients"
        count="3024" >
</app-card>
</mat-card>
   
</div>

<!-- area chart -->
<div class="area">
    <app-area-chart></app-area-chart>
</div>



<!-- table & pie-chart -->
<div class="tablepi" >

<!-- table -->

<div>
    <app-table>

    </app-table>
</div>


<!-- pie chart -->

    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>